# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/

# Data (don’t push raw or big files)
data/raw/
data/processed/

# Outputs
# Ignore everything in outputs except charts PNGs
outputs/*
!outputs/charts/
outputs/charts/*
!outputs/charts/*.png

# macOS
.DS_Store
